<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
   <title>{% block title %}La Era de Mauri{% endblock %}</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- SmartAddon.com Verification -->
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon_16.ico"/>
    <link rel="bookmark" href="favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="/css/site.min.css">
    <link rel="stylesheet" href="/css/ledm.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/site.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>


    <body>

    <!--HEADER-->

    <div class="docs-header">

      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/logo.png" height="40"></a>

          </div>



          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link {%if current=='timeline'%}current{%endif%}" href="/timeline">Línea de Tiempo</a></li>
              <li>
                <a class="nav-link {%if current=='historia'%}current{%endif%}" href="/historia">Sobre este sitio</a>
              </li>
              <li><a class="nav-link {%if current=='contacto'%}current{%endif%}" href="/contacto">Contacto</a></li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <a title="salir" href="{{ path('fos_user_security_logout') }}">
                            ({{ app.user.username }}) <i class="fa fa-unlock"></i>
                        </a>
                    {% else %}
                        <a title="ingresar" href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i></a>
                    {% endif %}
                </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block topic %}
      <div class="topic">
        <div class="container">
            <div class="col-md-8">
              <h3>La Era de Mauri</h3>
              <h4>Un sitio que deja registrado cada evento importante de la gestión de Mauricio Macri </h4>
            </div>

        </div>
        <div class="topic__infos">
          <div class="container">
            Línea de tiempo de acontecimientos relevantes durante su gestión
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <!--header-->
      <div class="container documents">
         <div class="example contenido">
         {% block contenido %}{% endblock %}
         </div>
      </div>
    <!--footer-->
    <div class="site-footer">
      <div class="container">


        <div class="row">
          
      

          <div class="col-md-4">
            <h3>Contribuir</h3>
            <p> Si querés contribuir lo podés hacer compartiendo el sitio, y siempre estamos abiertos a sugerencias para mejorar el sitio y su contenido   </p>
          </div>

          
          <div class="col-md-4">
            <h3>Redes Sociales</h3>
            <ul>

              <li>E-mails a 
                  <a href="#" target="_blank">info@laerademauri.com.ar</a>
              </li>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li>             

                <a title="Twitter" href="https://twitter.com/laerademauri" target="_blank" rel="external nofollow">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a title="Facebook" href="#" target="_blank" rel="external nofollow">
                   <i class="fa fa-facebook fa-2x"></i>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;   

                <a title="Google+" href="#" target="_blank" rel="external nofollow">
                   <i class="fa fa-google fa-2x"></i>
                </a>

              </li>
            </ul>
          </div>
          
    


        </div>
        <hr class="dashed" />

      </div>
    </div>
    <!--footer-->

        {% block body %}{% endblock %}
        <script type="text/javascript">
              $(function () {

              });
        </script>
    </body>
</html>
