{% extends 'base.html.twig' %}


{% block contenido %}
{% block topic %}{% endblock %}

    <div class="row">



      <div class="col-md-12">
        <div class="jumbotron">

          <div class="jumbotron-contents">
            <h2>Contacto</h2>

            <p>
              <i class="fa fa-at fa-2x"></i> E-mail <a href="#" target="_blank">info@laerademauri.com.ar</a>
            </p>
            <p>
              <i class="fa fa-twitter fa-2x"></i> Twitter 
              <a title="Twitter" href="https://twitter.com/laerademauri" target="_blank" rel="external nofollow">
                  @laerademauri
                </a>
            </p>
          </div>
        </div>
      </div>


		</div>

{% endblock %}
