{% extends 'base.html.twig' %}


{% block contenido %}
{% block topic %}{% endblock %}

    <div class="row">



      <div class="col-md-12">
        <div class="jumbotron">

          <div class="jumbotron-contents">
            <h2>Contacto</h2>

            <p>
              En breve habrá cuenta de twitter y facebook...no rompan las pelotas
            </p>
          </div>
        </div>
      </div>


		</div>

{% endblock %}
