{% extends 'base.html.twig' %}


{% block contenido %}
{% block topic %}{% endblock %}

    <div class="row">



      <div class="col-md-12">
        <div class="jumbotron">

          <div class="jumbotron-contents">
            <h2>¿Por qué se me ocurrió hacer este sitio? Bueno, la historia es así</h2>
            <p>
              El día del ballotage/balotaje, cuando volvía caminando a mi casa después de votar,
               todavía me seguían dando vueltas en la cabeza un montón de dudas pero sobre todo también un montón  de certezas que en definitiva fueron las
               razones que me llevaron a decidirme por no votar en blanco.
               Entonces se me ocurrió mandarme un mail a mi mismo y puse una alerta en mi google calendar para que me avise que tengo que leer este mail dentro de 4 años,
               en este mail me explico a mi mismo (del futuro) como me sentía exactamente al momento de votar, cuales eran mis miedos,
               como veía al país en este momento, cuánto salía una birra, cuanto salían las empanadas, el kg de carne, todo sobre clarín,
               la cámpora, la grieta y cualquier cosa que me pareció relevante y util para que el yo del futuro lo tenga en cuenta al momento de votar.
            </p>
            <p>
              Unos días mas tarde, todavía pensando en ese mail y tomandome una cervecita me di cuenta que podía armarme una paginita simple para ir registrando todos los sucesos importantes de la nueva gestíon asociando fuentes confiables y que yo considero objetivas.... y bueno, el resto ya se lo pueden imaginar.
            </p>
          </div>
        </div>
      </div>


		</div>

{% endblock %}
