<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La década merecida</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- SmartAddon.com Verification -->
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe" />
	<meta name="keywords" content="Flat UI Design, UI design, UI, user interface, web interface design, user interface design, Flat web design, Bootstrap, Bootflat, Flat UI colors, colors">
	<meta name="description" content="The complete style of the Bootflat Framework.">
    <link rel="shortcut icon" href="favicon_16.ico"/>
    <link rel="bookmark" href="favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/site.min.js"></script>
  </head>
  <body style="background-color: #f1f2f6;">
    <div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/img/logo.png" height="40"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link current" href="./">Línea de Tiempo</a></li>
              <li><a class="nav-link " href="nosotros">Sobre este sitio</a></li>
              <li><a class="nav-link" href="contacto">Contacto</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--header-->
      <div class="topic">
        <div class="container">
			<div class="col-md-8">
			  <h3>La era de Mauri</h3>
			  <h4>La intención es dejar registrado cada hecho importante con un resumen de como lo cubren los distintos medios tratando de ser lo mas objetivo posible</h4>
			</div>

        </div>
        <div class="topic__infos">
          <div class="container">
            Línea de tiempo de acontecimientos relevantes durante su gestión
          </div>
        </div>
      </div>
    </div>
    <!--documents-->
	  <!--Toggle
      ================================================== -->

	  <!--TimeLine
      ================================================== -->
      <div class="example">

        <div class="row">
		  <div class="col-md-12">
			  <div class="timeline">
				  <dl>
					  <dt>Apr 2014</dt>
					  <dd class="pos-right clearfix">
						  <div class="circ"></div>
						  <div class="time">Apr 14</div>
						  <div class="events">
							  <div class="pull-left">
								  <img class="events-object img-rounded" src="img/photo-1.jpg">
							  </div>
							  <div class="events-body">
								  <h4 class="events-heading">Bootstrap</h4>
								  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							  </div>
						  </div>
					  </dd>
					  <dd class="pos-left clearfix">
						  <div class="circ"></div>
						  <div class="time">Apr 10</div>
						  <div class="events">
							  <div class="pull-left">
								  <img class="events-object img-rounded" src="img/photo-2.jpg">
							  </div>
							  <div class="events-body">
								  <h4 class="events-heading">Bootflat</h4>
								  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							  </div>
						  </div>
					  </dd>
					  <dt>Mar 2014</dt>
					  <dd class="pos-right clearfix">
						  <div class="circ"></div>
						  <div class="time">Mar 15</div>
						  <div class="events">
							  <div class="pull-left">
								  <img class="events-object img-rounded" src="img/photo-3.jpg">
							  </div>
							  <div class="events-body">
								  <h4 class="events-heading">Flat UI</h4>
								  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							  </div>
						  </div>
					  </dd>
					  <dd class="pos-left clearfix">
						  <div class="circ"></div>
						  <div class="time">Mar 8</div>
						  <div class="events">
							  <div class="pull-left">
								  <img class="events-object img-rounded" src="img/photo-4.jpg">
							  </div>
							  <div class="events-body">
								  <h4 class="events-heading">UI design</h4>
								  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							  </div>
						  </div>
					  </dd>

				  </dl>
			  </div>
		  </div>
		</div>
      </div>
    <!--footer-->
    <div class="site-footer">
      <div class="container">


        <div class="row">
          <div class="col-md-4">
            <h3>Get involved</h3>
            <p>Bootflat is hosted on <a href="https://github.com/bootflat/bootflat.github.io" target="_blank" rel="external nofollow">GitHub</a> and open for everyone to contribute. Please give us some feedback and join the development!</p>
          </div>
          <div class="col-md-4">
            <h3>Contribute</h3>
            <p>You want to help us and participate in the development or the documentation? Just fork Bootflat on <a href="https://github.com/Bootflat/bootflat.github.io" target="_blank" rel="external nofollow">GitHub</a> and send us a pull request.</p>
          </div>
          <div class="col-md-4">
            <h3>Found a bug?</h3>
            <p>Open a <a href="https://github.com/bootflat/bootflat.github.io/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
          </div>
        </div>
        <hr class="dashed" />

      </div>
    </div>


  </body>
</html>
