body{
      background-color: rgb(241, 242, 246);
}


.jumbotron>.jumbotron-photo img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

.principal{
  height: auto;
}

.fuentes{
  min-height: 300px;
}


.input-group {
    border-collapse: separate;
    display: inherit;
    position: relative;
}

.imagen{
  width: 64px;
  height: 64px;
}

.contenido{
  min-height: 400px !important;
}



.ver_mas {
    position: relative;
    top: 30px;
    z-index: 200;
    width: 120px;
    padding: 3px 5px;
    margin: 0 auto 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #aab2bd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.ver_mas a{
  color: white;
}

.ver_mas:hover{
  background-color: #AAB18F;
}

.pull-right {
    margin-right: 10px;
}
