.principal{
  height: auto;
}

.fuentes{
  min-height: 300px;
}
.panel {
  margin-top: 20px;
}

.input-group {
    border-collapse: separate;
    display: inherit;
    position: relative;
}

.imagen{
  width: 64px;
  height: 64px;
}

.contenido{
  min-height: 400px !important;
}

.timeline{
  max-height: 600px !important;  

}